.Add-to-Cart {
    background-color: white;
    transition: all 1.3s ease;
    position: absolute;
    top: 0px;
    right: 0px;
    // justify-content: center;
    // margin: auto;
    text-align: center;
    width: 521px;
padding-bottom: 210px;
    .foodmodal {
        width: 45%;
        margin: auto;
        justify-content: center;
        padding-top: 8git0px;
        padding-bottom: 20px;
    }

    h5 {
        font-family: Poppins;
        font-size: 20px;
        font-weight: 600;
        line-height: 33px;
        letter-spacing: 0em;
        padding-bottom: 20px;


    }

    p {
        font-family: Poppins;
        font-size: 12px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;



    }

    .readyDetails {
        display: flex;
        justify-content: space-between;
        padding: 70px 50px 30px 50px;


        p {
            font-family: Poppins;
            font-size: 17px;
            font-weight: 600;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: left;

        }
    }

    .readyDetails+div {
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 50px;

        span:first-child {
            display: flex;
            align-items: center;

            button {
                background: #F3C294;

                padding: 10px;
                border: none;
                outline: none;
                font-size: 20px;
                color: #00302E;
                font-family: Poppins;
                font-size: 31px;
                font-weight: 600;
                line-height: 27px;
                letter-spacing: 0em;
                text-align: center;
                &:hover {
                    color: #F3C294;
                    background-color: #00302E;
                }

            }

            p {
                color: #00302E;
                font-family: Poppins;
                font-size: 25px;
                font-weight: 600;
                line-height: 27px;
                letter-spacing: 0em;
                text-align: center;
                padding-left: 10px;
                padding-right: 10px;

            }


        }

        span:nth-child(2) {
            button {

                background: #00302E;
                font-family: Poppins;
                font-size: 13px;
                font-weight: 600;
                line-height: 27px;
                letter-spacing: 0em;
                text-align: center;
                color: #FBFBFB;
                border: none;
                outline: none;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 20px;
                padding-right: 20px;
                cursor: pointer;

                &:hover {
                    background-color: white;
                    color: #00302E;
                }
            }

        }
    }
}