.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard .sidebar {
  padding-left: 2vw;
  background: #fbfbfb;
  height: 100vh;
}

.dashboard .sidebar .sidelogo {
  padding-top: 70px;
}

.dashboard .sidebar .sidelogo img {
  width: 80%;
}

.dashboard .sidebar .sideNav {
  padding-top: 70px;
}

.dashboard .sidebar .sideNav .sideicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  padding-bottom: 50px;
  color: #707070;
}

.dashboard .sidebar .sideNav .sideicon .btn1 {
  border: 1px solid #06e775;
  background: #06e775;
  border-radius: 5px;
  margin-left: 40px;
}

.dashboard .sidebar .sideNav .sideicon .btn2 {
  border: 1px solid #f3c294;
  background: #f3c294;
  border-radius: 5px;
  margin-left: 27px;
}

.dashboard .sidebar .sideNav .fistsideicon.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  background: #efefef;
  border-radius: 12px;
  padding: 10px 5px 10px 10px;
  color: black;
  width: 90%;
}

.dashboard .mainPage {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  padding-top: 90px;
  padding-left: 3vw;
  padding-right: 3vw;
}

.dashboard .mainPage .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard .mainPage .header h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 33px;
  color: #00302E;
}

.dashboard .mainPage .header p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 33px;
  color: rgba(0, 0, 0, 0.69);
}

.dashboard .mainPage .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}

.dashboard .mainPage .contents .cards {
  background: rgba(255, 255, 255, 0.83);
  border: 0.3px solid rgba(0, 48, 46, 0.14);
  border-radius: 5px;
  width: 240px;
  height: 307px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 30px;
}

.dashboard .mainPage .contents .cards .foodImage {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 50%;
}

.dashboard .mainPage .contents .cards h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 33px;
  color: #00302E;
}

.dashboard .mainPage .contents .cards p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.69);
}

.dashboard .mainPage .contents .cards .addprice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.dashboard .mainPage .contents .cards .addprice button {
  color: #06E775;
  border: none;
  background-color: transparent;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 33px;
}

.dashboard .mainPage .contents .cards .addprice .price {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 33px;
}
/*# sourceMappingURL=dash.css.map */